# Maven
target/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# SQLite database
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
